<footer class="footer">
  <div class="container footerGrid">
    <div>
      <div class="brand" style="padding:0;">
        <img src="assets/img/logo.png" alt="{{FOOTER_LOGO_ALT}}"/>
        <div>
          <div class="name">RZ Mega Resources</div>
          <div class="tag">Credibility ƒ?½ Leads ƒ?½ Booking</div>
        </div>
      </div>
{{FOOTER_INTRO}}
{{FOOTER_YEAR}}
    </div>

    <div>
      <b>Pages</b><br/>
{{FOOTER_PAGES}}
    </div>

    <div>
      <b>Contact</b><br/>
      <a class="small" href="mailto:hello@rzmegaresources.com">hello@rzmegaresources.com</a><br/>
      <span class="small">WhatsApp: +60 XX-XXXX XXXX</span>{{FOOTER_CONTACT_TAIL}}
    </div>
  </div>
</footer>
